# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/

# Virtualenv
venv/
.envrc

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Local env & secrets
.env
.env.*

# SQLite (若你改用 sqlite)
*.sqlite
*.sqlite3

# Coverage / reports
htmlcov/
.coverage
.coverage.*
.pyre/
